/ {
    zephyr,user {
        rfid-reset-gpios = <&gpio0 21 GPIO_ACTIVE_LOW>;
    };

    /* Add LED node here */
    leds {
        compatible = "gpio-leds";
        led0: led_0 {
            gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;  /* D12 = GPIO12 */
            label = "User LED";
        };
    };

    aliases {
        led0 = &led0;
    };
};

&pinctrl {
    spim2_default: spim2_default {
        group1 {
            pinmux = <SPIM2_SCLK_GPIO18>,
                     <SPIM2_MISO_GPIO19>;
        };
        group2 {
            pinmux = <SPIM2_MOSI_GPIO23>;
            output-low;
        };
    };
};

&spi2 {
    status = "okay";
    pinctrl-0 = <&spim2_default>;
    pinctrl-names = "default";
    cs-gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;

    mfrc522: mfrc522@0 {
        compatible = "vnd,spi-device";
        reg = <0>;
        spi-max-frequency = <1000000>;
    };
};